{eval $setting=$this->setting;$user=$this->user;}
<!--相关已解决-->
<!--{if isset($userinfo)}-->
<div onmouseout="this.style.display='none';" onmouseover="this.style.display='';" class="userinfo">
    <div class="wtleft">
        <div class="touxiang"><a href="{url user/space/$userinfo['uid']}"><img align="absmiddle" src="{$userinfo['avatar']}" alt="{$userinfo['username']}" /></a></div>
        <div class="hyxinxi">
            <a href="{url user/space/$userinfo['uid']}" target="top">{$userinfo['username']}</a><br />
            <span>{$userinfo_group['grouptitle']}</span>
        </div>
    </div>
    <div class="userinfoR">
        UID:{$userinfo['uid']}
        <!--{if $userinfo['islogin']}-->
        <img src="{SITE_URL}css/default/online.gif" align="absmiddle" title="当前在线" alt="当前在线"/>
        <!--{else}-->
        <img src="{SITE_URL}css/default/outline.gif" align="absmiddle" title="当前离线" alt="当前离线"/>
        <!--{/if}-->
        <!--{if $userinfo['expert']}-->
        <img src="{SITE_URL}css/default/expert.gif" align="absmiddle" title="专家" />
        <!--{/if}-->
        <br />
        <span> 提问：{$userinfo['questions']}&nbsp;&nbsp回答：{$userinfo['answers']}&nbsp;&nbsp已采纳：{$userinfo['adopts']}</span><br />
        <span> 经验：{$userinfo['credit1']}&nbsp;&nbsp财富：{$userinfo['credit2']}&nbsp;&nbsp;魅力：{$userinfo['credit3']}</span>
        <!--{if $user['uid'] != $userinfo['uid']}-->
        <span>
            <input  type="button" class="button1" onclick="javascript:sendmsg('{$userinfo['username']}');" value="发短消息"/>
            <input type="button" class="button1" value="向TA提问" onclick="javascript:document.location='{url question/add/$userinfo['uid']}'"/>
        </span>
        <!--{/if}-->
        <div style="color:#777777;">{eval echo cutstr($userinfo['signature'],100,'')}</div>
    </div>
</div>
<!--{/if}-->