{template header}
<div class="box">
    <div class="box_left_nav font_gray" style="font-size: 12px;">→ <a href="{SITE_URL}">{$setting['site_name']}</a> &gt; <a>我的积分</a> </div>
    <!--内容 begin-->
    <div class="ps_content">
        <!--左边 begin -->
        <div class="ps_contentl">
            <!--用户信息-->
            <!--左边 begin -->
            <!-- 个人信息 开始-->
            <div class="ps_box1">
                <div class="person_name">{$member['username']}</div>
                <div class="user_info">
                    <div class="person_pic"><img id="headPic" src="{$member['avatar']}" alt="{$member['username']}" title="{$member['username']}"></div>
                    <div class="user_subinfo">
                        <span>{$member['grouptitle']}</span>
                    </div>
                </div>
                <div class="user_info">
                    <!--{if 2==$membergroup['grouptype']}-->
                    <div>
                        {eval $credit1percentleft = 100-$credit1percent-1}
                        升级进度<img src="{SITE_URL}css/default/jindutiao_yellow.gif" alt="" style="vertical-align: middle;" width="{$credit1percent}" height="7"><img src="{SITE_URL}css/default/jindutiao_white-02.gif" alt="" style="vertical-align: middle;" width="{$credit1percentleft}" height="7"><img src="css/default/jindutiao_end.gif" alt="" style="vertical-align: middle;" width="1" height="7"><span class="font_gray">({$member['credit1']}/{$membergroup['creditshigher']})</span>
                    </div>
                   <!--{/if}-->
                </div>
                <!--{if $user['uid'] && $user['uid'] != $member['uid']}-->
                <div id="Usercontrol1_headOperate">
                    <span class="ps_icon1"><a href="javascript:void(0)"  onclick="javascript:sendmsg('{$member['username']}');">发送短消息</a></span>
                    <span class="ps_icon2 margin20"><a href="{url question/add/$member['uid']}">向TA提问</a></span>
                </div>
                <!--{/if}-->
            </div>
            <!-- 个人信息 结束-->
            <div class="nav_bar">
                <dl>
                    <dd class="nav_link" id="myscore"><a href="{url user/space/$member['uid']}">TA的问答主页</a></dd>
                    <dd class="nav_link" id="myask"><a href="{url user/space_ask/$member['uid']}">TA的提问</a></dd>
                    <dd class="hover" id="myanswer"><a href="{url user/space_answer/$member['uid']}">TA的回答</a></dd>
                </dl>
            </div>
            <!--左边 end -->
            <!--最近留言-->
            <div id="newMessage" class="user_info" ></div>
            <!--最近来访--></div>
        <!--左边 end -->

        <!--右边 begin -->
        <!-- 提问 回答-->
        <div class="ps_contentr">
            <div class="column">
                <div class="column_title2">
                    <ul>
                        <li class="tab_hover"><a>全部的回答</a></li>
                    </ul>
                </div>
            </div>
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td height="38" align="left" width="400" valign="middle" class="zxy_title">标题（共{$answersize}条）</td>
                        <td align="left" width="30" valign="middle" class="zxy_title">&nbsp;</td>
                        <td align="left" width="60" valign="middle" class="zxy_title">&nbsp;</td>
                        <td height="38" align="center" width="120" valign="middle" class="zxy_title">被采纳答案</td>
                        <td height="38" align="center" width="60" valign="middle" class="zxy_title">回答时间</td>
                    </tr>
                    <tr>
                        <td height="37" align="center" valign="middle" colspan="5">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody>
                                    <!--{loop $answerlist $answer}-->
                                    <tr>
                                        <td height="28" align="left" width="400" valign="middle" class="zxy_biaoge_txt">
                                            <div class="tiw_blue_kuai">
                                                <span class="tiw_blue"><a title="{$answer['title']}" target="_blank" href="{url question/view/$answer['qid']}">{$answer['title']}</a></span>
                                            </div>
                                        </td>
                                        <td align="left" width="30" valign="middle" class="zxy_biaoge_txt"> <span class="f12" style="padding-left: 5px;">&nbsp; &nbsp;</span> </td>
                                        <td align="left" width="60" valign="middle" class="zxy_biaoge_txt"> &nbsp; </td>
                                        <td height="28" align="center" width="120" valign="middle" class="zxy_biaoge_txt f14 tiw_black">{if $answer['adopttime']}<img src="{SITE_URL}css/common/icn_2.gif">{/if}&nbsp;</td>
                                        <td align="center" width="62" valign="middle" class="zxy_biaoge_txt f14 black">{$answer['time']}</td>
                                    </tr>
                                    <!--{/loop}-->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="font_gray">
                        <td height="20" align="right" valign="middle" colspan="7" class="f12"><div id="ask_page" style="padding: 5px 0pt;"><span id="pg_right">{$departstr}</span></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--内容 end-->
        <div class="clear">
        </div>
    </div>
</div>

<script type="text/javascript">
    function sendmsg(username){
        var is_code = {$setting['code_message']};
        var code_message='';
        if(is_code==1){
            code_message='<tr><td align="right" width="100">验证码 ：</td><td width="90%"><input maxlength="4" name="code" size="10" /><img id="verifycode" onclick="javascript:updatecode();" src="{url user/code}"/>&nbsp;<a href="javascript:updatecode();">看不清，换一个</a><span id="codetip"></span></td></tr>';
        }
        $.dialog({
            id:'sendmsgDiv',
            position:'center',
            align:'left',
            fixed:1,
            width:400,
            title:'发送消息',
            fnOk:function(){document.sendmsgForm.submit();$.dialog.close('sendmsgDiv')},
            fnCancel:function(){$.dialog.close('sendmsgDiv')},
            content:'<form name="sendmsgForm"  action="{url message/send}" method="post" ><input type="hidden" name="username" value="'+username+'"><table cellspacing="0" cellpadding="0" width="100%" border="0" valign="top"><tr><td class="f14" valign="top" nowrap align="left" width="10%" height="35">接收人 :&nbsp;&nbsp; </td><td valign="top" height="35">'+username+'</td></tr><tr><td class="f14" valign="top" nowrap align="left" height="35">主题 :&nbsp;&nbsp; </td><td valign="top" width="60%" height="35"><input type="text"  size="45"   name="title"  maxlength="20"></td></tr><tr><td class="f14" valign="top" nowrap align="left" height="35"> 内容 :&nbsp;&nbsp; </td><td valign="top" height="35"><textarea name="content" style="width: 95%; padding-top: 1px; font-size: 14px;" rows="8" ></textarea></td></tr>'+code_message+'</table></form>'
        });
    }
</script>
{template footer}