<div class="wrap">
  <DIV id=userbar class=new_nav>
    <DIV class=new_nav>
      <DIV class=new_navtext><SPAN><A href="/">首页</A><a href="/?user/ask.html" >我的提问</a> <a href="javascript:void(0)" onclick="SetHomepage()">设为首页</a> <a href="javascript:void(0)" onclick="addfavorite()">收藏夹</a></SPAN></DIV>
      <DIV class=new_navlogin>
        <DIV><!--{if 0!=$user['uid']}-->您好,<a href="{url user/default}" target=_blank>{$user['username']}</A><SPAN>|</SPAN><a href="{url user/ask}">我的提问</A><SPAN>|</SPAN><a href="{url user/default}" target=_blank>个人管理</A><SPAN>|<!--{if $user['groupid']<=3}--></SPAN><a href="{SITE_URL}index.php?admin_main">系统设置</a><SPAN>|<!--{/if}--></SPAN><a href="{url message/new}">短消息(<B class=orange>{$user['newmsg']}</B>/<B>1</B>)</A><IMG alt=采纳答案 src="http://127.0.0.1/ask1/skin/images/icon_zhang1.gif">{$user['credit1']}<IMG alt=积分 src="http://127.0.0.1/ask1/skin/images/icon_bi.gif"><a href="{url user/default}" target=_blank>{$user['credit2']}</A><IMG alt=提问数 src="http://127.0.0.1/ask1/skin/images/icon_q.gif">{$user['questions']}<IMG alt=回答数 src="http://127.0.0.1/ask1/skin/images/icon_a.gif">{$user['answers']}<SPAN>|</SPAN><a href="{url user/logout}" target=_self>退出</A><SPAN>|</SPAN><a href="{url gift}" style="color:#F00">预约号兑换</A><!--{else}--> 
          您好，欢迎来{$setting['site_name']}！[<a  href="{url user/login}">请登录</a>] [<a  href="{url user/register}">免费注册</a>]<!--{/if}--></DIV>
      </DIV>
    </DIV>
  </DIV>
</div>
<div class="wrap1">
  <div class="ask-top"> <span class="bgleft"> <span class="bgright"> <span class="topcon"> <span class="conup"> <span class="asklogo"><a href="/" title="健康问答">健康问答</a></span>
    <form name="searchform"  action="{url question/search/3}" method="post">
      <input id="kw" type="text" class="inputtext"  value="请在此提交您的问题，即有万名医生10分钟内为您解答" onfocus="if (this.value=='请在此提交您的问题，即有万名医生10分钟内为您解答'){this.value='';}; this.style.color='#333';" onblur="if (this.value==''){this.value='请在此提交您的问题，即有万名医生10分钟内为您解答';this.style.color='#bbb';}" style="color:#bbb;" name="word" />
      <input type="submit" class="inputbut inputbut1" onmouseover="this.className='inputbut inputbut2'" onmouseout="this.className='inputbut inputbut1'" value="搜 索"  >
      <input type="button" class="inputbut inputbut1" onmouseover="this.className='inputbut inputbut2'" onmouseout="this.className='inputbut inputbut1'" value="提 问" onclick="ask_submit();" />
      <input type="button" name="" value="健客搜药" class="inputbut inputbut3" onmouseover="this.className='inputbut inputbut4'" onmouseout="this.className='inputbut inputbut3'" onclick=""  />
    </form>
    </span> <span class="condown">
    <ul class="ul1 color666">
      
      <li><a href="/?c-2.html" title="最新回答">最新回答</a></li>
      <li><a href="/?c-2.html" title="专题">专题</a></li>
    </ul>
    <ul class="ul2 color666">
      <li><a href="/?c-2.html" target="_self" title="kaw">抗癌中心</a></li>
    </ul>
    </span> </span> </span> </span> </div>
</div>
<!--提问&频道入口end--> 
<!---通栏1-->
<div class="wrap1"> 960*90广告位 </div>
<!---通栏1end-->