<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>提问帮助_58健康问答_全国最大的健康问答平台</title>
<link href="http://127.0.0.1/ask1/skin/css/base.css" rel="stylesheet" type="text/css" />
<link href="http://127.0.0.1/ask1/skin/css/ask_base.css" type="text/css" rel="stylesheet" />
<link href="http://127.0.0.1/ask1/skin/css/help.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="http://127.0.0.1/ask1/skin/js/ask_function.js"></script>
<script type="text/javascript" src="http://127.0.0.1/ask1/skin/js/beacon_ws.js"></script>
<script type="text/javascript" src="http://127.0.0.1/ask1/skin/js/activities.js"></script>
</head>
<body>
{template header}
<div class="wrap1">
  <div class="help-tiwen margintop10">
    <div id="guide-step">
      <ul>
        <li id="menu-1" class="current"><span class="nub nub1">1</span><a title="我要提问">我要提问<span class="arrow"></span></a></li>
        <li id="menu-2"><span class="nub nub2">2</span><a title="进行提问">进行提问<span class="arrow"></span></a></li>
        <li id="menu-3"><span class="nub nub3">3</span><a title="提问成功提示">提问成功提示<span class="arrow"></span></a></li>
        <li id="menu-4"><span class="nub nub4">4</span><a title="医生回复提示">医生回复提示<span class="arrow"></span></a></li>
        <li id="menu-5"><span class="nub nub5">5</span><a title="补充提问">补充提问<span class="arrow"></span></a></li>
        <li id="menu-6"><span class="nub nub6">6</span><a title="采纳答案">采纳答案<span class="arrow"></span></a></li>
        <li id="menu-7"><span class="nub nub7">7</span><a title="投诉答案">投诉答案<span class="arrow"></span></a></li>
        <li id="menu-8"><span class="nub nub8">8</span><a title="问题结束">问题结束</a></li>
      </ul>
    </div>
    <div id="guide-content">
      <div class="gui-topbox">
        <h3 id="guide-step-title">我要提问</h3>
        <div id="guide-step-tool"> <span class="slide-btn"> </span> </div>
      </div>
      <div id="guide-slide">
        <div id="guide-slide-content" class="clearfix">
          <div id="step-1" class="slide-items">
            <p>健康问答所有页面导航上都有"提问"按钮，点击该提问按钮进入提问页。</p>
            </div>
          <div id="step-2" class="slide-items">
            <p>进入到提问页，在这里请描述清楚您的问题，为了更好地得到医生的答案，建议您对问题进行更详细的描述。<br />
              第一步：填写性别、年龄、问题描述、详述问题<br />
              第二步：上传化验单照片<br />
              第三步：选择科室：选择最适合的科室。为了让医生尽快找到您的提问<br />
              第四步：点击"提交问题"按钮完成提问</p>
            </div>
          <div id="step-3" class="slide-items">
            <p>第一步：如果系统已分配账号给您，请修改您常用的个人账号跟密码，下次登录更方便<br />
              第二步：绑定您最常用的邮箱，有医生回复会第一时间以邮箱形式通知您，绑定后别忘了登录邮箱查看哦<br />
              第三步：点击查看问题页面。进入后建议收藏问题页，方便您查看内容</p>
            </div>
          <div id="step-4" class="slide-items">
            <p><strong>导航栏查看站内短消息提示：</strong><br />
              在正常情况下，您的问题10分钟后将得到医生的答复，按F5刷新提问页面，如果您的回答有回复将在页面显示提醒框，您可以点击链接查
              看医生为您解答的内容</p>
            
            <p><strong>查看已绑定邮箱：</strong><br />
              登录您之前绑定过的邮箱查收邮件，由于医生利用空闲时间为您解答，可能没那么快回复，请在提交问题10分钟后查看。</p>
            </div>
          <div id="step-5" class="slide-items">
            <p>登录状态下可对自己的问题进行补充提问，点击补充提问按钮出现下面的补充提问框，输入要补充的内容后点击确定。</p>
            </div>
          <div id="step-6" class="slide-items">
            <p>如果您得到满意的回复，登录状态下可采纳答案，点击"采纳该答案"按钮，填写感谢语对医生表达感谢。</p>
            </div>
          <div id="step-7" class="slide-items">
            <p>登录状态下，您可以对不专业的回复进行投诉，点击"投诉"后内容下面即弹出"投诉框"，填写投诉理由后点击"确定"提交。</p>
            </div>
          <div id="step-8" class="slide-items">
            <p>问题有效期7天，如7天内如没采纳答案，问题将自动关闭，关闭后可以继续讨论，但提交回复没有积分。</p>
            </div>
        </div>
      </div>
      <div class="gui-bottombox"></div>
    </div>
  </div>
</div>
<div id="bottominfo" style="padding-top:10px; line-height:28px;"> <font style="color:#999;">声明：在健康问答平台中所有关于疾病的建议都不能代替执业医师的面对面诊断。医生及网友言论仅代表其个人观点，请谨慎参阅，本站不承担相关法律责任。</font><br />
  <a href="/">健康网</a> - 中国第一健康门户网站　Copyright  &copy; 2000-2010　<a href="/">未经授权请勿转载</a> | <a href="/">联系我们</a> </div>
<script type="text/javascript">
	var tipsShow = function(index,step){
	var el = YUD.getElementsByClassName('slide-items')[index];
	var tips = YUD.getElementsByClassName('tips-show','div',el);
	var cursor = YUD.getElementsByClassName('click-action','a',el);
	var opacitys = {opacity: {to:1}};


	var i = 0;
	(function(){
		if(i>=tips.length){return;}
		if(tips[i].getAttribute('_isdone') === 'true'){

		}else{
			var anim = new YAHOO.util.Anim(tips[i], opacitys, 0.5, YAHOO.util.Easing.easeIn);
			if(index == 10){
				var o = parseInt(step[index].tipsShowDelay);
				setTimeout(function(){anim.animate();},o);
			}else{
				anim.animate();
			}
			if(tips[i].getAttribute('_to')){
				var direct = tips[i].getAttribute('_to').split(';')[0];
				var _to = tips[i].getAttribute('_to').split(';')[1];
				var xy = YUD.getXY( tips[i] );
				if(direct == 'd'){
					var attributes = {
						points: { to: [parseInt(xy[0]),parseInt(xy[1]) + parseInt(_to)] }
					};
				}else if(direct == 'u'){
					var attributes = {
						points: { to: [parseInt(xy[0]),parseInt(xy[1]) - parseInt(_to)] }
					};
				}
				var play = new YAHOO.util.Motion(tips[i], attributes,0.5);
				play.animate();
				tips[i].setAttribute('_isdone','true');
			}
		}
		i++;
		window.setTimeout(arguments.callee,2000);
	})();
};

(function(){
	var els = YUD.getElementsByClassName('tips-show','div',get('guide-slide-content'));
	for(var i=0,j=els.length;i<j;i=i+1){
		YUD.setStyle(els[i],"opacity",0);
	}
})();

AE.namespace('AE.widget.userslide');

AE.widget.userslide = function(){
	this.defConfig = {
		pId : get('previous-control'),
		nId : get('next-control'),
		cId : get('guide-slide-content'),
		tId : get('guide-step-title'),
		menu : get('guide-step'),
		width :  772
	};
	this.step = [
		{index:'0',main:'0',tipsShowDelay:500,title:'我要提问'},
		{index:'1',main:'1',tipsShowDelay:500,title:'进行提问'},
		{index:'2',main:'2',tipsShowDelay:2000,title:'提问成功提示'},
		{index:'3',main:'3',tipsShowDelay:8000,title:'医生回复提示'},
		{index:'4',main:'4',tipsShowDelay:500,title:'补充提问'},
		{index:'5',main:'5',tipsShowDelay:500,title:'采纳答案'},
		{index:'6',main:'6',tipsShowDelay:500,title:'投诉答案'},
		{index:'7',main:'7',tipsShowDelay:500,title:'问题结束'}
	];
	this.auto = false;
	this.current = 0;	//index of current div sId
	this.menuIndex = 0;	//index of menu
	this.to = 0;	//the next index tab
	this.min = 0;
	this.max = 7;
	this.t = undefined;
	this.motion = false;
}

AE.widget.userslide.prototype = {
	slideshow : function(isAdd){
		var _self = this;
		if(isAdd){
			++this.to;
		}else{
			--this.to;
		}

		var anim = function(scope,xy){
			var attributes = {
				points: { to: xy }
			};

			var play = new YAHOO.util.Motion(scope.config.cId, attributes,0.5);
			play.onComplete.subscribe(function(){
				_self.changetitle();
				YUD.removeClass(_self.config.menu.getElementsByTagName('li')[_self.menuIndex],'current');
				_self.menuIndex = _self.step[_self.current].main;
				YUD.addClass(_self.config.menu.getElementsByTagName('li')[_self.step[_self.current].main],'current');
				_self.motion = false;
				tipsShow(_self.current,_self.step);
			});

			play.animate();
			_self.motion = true;
		}

		var xy = YUD.getXY('guide-slide-content');
		if(this.current < this.to){
			var x = xy[0] - this.config.width;
		}else{
			var x = xy[0] + this.config.width;
		}

		anim(this, [x , xy[1]]);
		if(isAdd){
			++this.current;
		}else{
			--this.current;
		}
		return this;
	},

	changetitle : function(){
		this.config.tId.innerHTML = this.step[this.current].title;
	},
	jumpto : function(index){
		YUD.removeClass(this.config.menu.getElementsByTagName('li')[this.menuIndex],'current');
		YUD.addClass(this.config.menu.getElementsByTagName('li')[index],'current');
		this.menuIndex = index;

		for(var i=0,j=this.step.length;i<j;i=i+1){
			if(this.step[i].main == index){
				this.current = this.to = this.step[i].index;
				this.config.cId.style.left = - this.step[i].index*this.config.width + 'px';
				this.changetitle()
				break;
			}
		}
	},

	menucontrol : function(){
		var objs = this.config.menu.getElementsByTagName('li');
		for(var i=0,j=objs.length;i<j;i=i+1){
			YUE.on(objs[i],'click',function(){
				var idx = i;
				return function(){
					if(this.t){clearTimeout(this.t)};
					this.auto = false;
					this.jumpto(idx);
				}
			}(),null,this);
		}

		return this;
	},

	binding : function(){
		YUE.on(this.config.pId,'click',function(){if((!(parseInt(this.current,10) - 1 < this.min)) && !this.motion){this.slideshow(false)};},null,this);
		YUE.on(this.config.nId,'click',function(){if((!(parseInt(this.current,10) + 1 > this.max)) && !this.motion){this.slideshow(true)};},null,this);
		return this;
	},

	init : function(usrConfig){
		this.config  = YL.merge(this.defConfig, usrConfig||{});
		if(!this.current){this.current = 0;}
		return this;
	}
};

var us = new AE.widget.userslide();
us.init().binding().menucontrol();

(function(){
	YUE.on('menu-1', 'click', function(){
		tipsShow(0,us.step);
	});
	YUE.on('menu-2', 'click', function(){
		tipsShow(1,us.step);
	});
	YUE.on('menu-3', 'click', function(){
		tipsShow(2,us.step);
	});
	YUE.on('menu-4', 'click', function(){
		tipsShow(3,us.step);
	});
	YUE.on('menu-5', 'click', function(){
		tipsShow(4,us.step);
	});
	YUE.on('menu-6', 'click', function(){
		tipsShow(5,us.step);
	});
	YUE.on('menu-7', 'click', function(){
		tipsShow(6,us.step);
	});
	YUE.on('menu-8', 'click', function(){
		tipsShow(7,us.step);
	});
	YUE.onDOMReady(function(){
		tipsShow(8,us.step);
	});
	YUE.on(YUD.getElementsByClassName('click-action'),'click',function(){us.slideshow(true)});
	YUE.on(YUD.getElementsByClassName('continue-btn'),'click',function(){us.slideshow(true)});
})()
</script>
</body>
</html>