{template header}
<div class="box">
    <div class="box_left_nav font_gray" style="font-size: 12px;">→ <a href="{SITE_URL}">{$setting['site_name']}</a> &gt; <a>我的积分</a> </div>
    <!--内容 begin-->
    <div class="ps_content">
        <!--左边 begin -->
        <div class="ps_contentl">
            <!--用户信息-->
            <!--左边 begin -->
            <!-- 个人信息 开始-->
            <div class="ps_box1">
                <div class="person_name">{$user['username']} </div>
                <div class="user_info">
                    <div class="person_pic"><img id="headPic" src="{$user['avatar']}" alt="{$user['username']}" title="{$user['username']}"></div>
                    <div class="user_subinfo">
                        <span>{$user['grouptitle']}</span>
                    </div>
                </div>
                <div class="user_info">
                    {if 2==$user['grouptype']}
                    <div>
                        {eval $credit1percent=round(($user['credit1']/$user['creditshigher'])*100);}
                        {eval $credit1percentleft = 100-$credit1percent-1}
                        升级进度<img src="css/default/jindutiao_yellow.gif" alt="" style="vertical-align: middle;" width="{$credit1percent}" height="7"><img src="css/default/jindutiao_white-02.gif" alt="" style="vertical-align: middle;" width="{$credit1percentleft}" height="7"><img src="css/default/jindutiao_end.gif" alt="" style="vertical-align: middle;" width="1" height="7"><span class="font_gray">({$user['credit1']}/{$user['creditshigher']})</span>
                    </div>
                    {/if}
                </div>
            </div>
            <!-- 个人信息 结束-->
            <div class="nav_bar">
                <dl>
                    <dd class="nav_link" id="myscore"><a href="{url user/score}">我的积分</a></dd>
                    <dd class="nav_link" id="myask"><a href="{url user/profile}">个人资料</a></dd>
                    <dd  class="nav_link" id="myask"><a href="{url user/ask}">我的提问</a></dd>
                    <dd class="hover" id="myanswer"><a href="{url user/answer}">我的回答</a></dd>
                    <dd class="nav_link" id="myanswer"><a href="{url user/favorite}">我的收藏</a></dd>
                    <dd class="nav_link" id="mymsg"><a href="{url message/new}">我的消息</a></dd>
                </dl>
            </div>
            <!--左边 end -->
            <!--最近留言-->
            <div id="newMessage" class="user_info" ></div>
            <!--最近来访--></div>
        <!--左边 end -->

        <!--右边 begin -->
        <!-- 提问 回答-->
        <div class="ps_contentr">
            <div class="column">
                <div class="column_title2">
                    <ul>
                        <li class="tab_hover"><a>全部的回答</a></li>
                    </ul>
                </div>
            </div>
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td class="zxy_title" align="left" valign="middle" width="400" height="38">标题（共{$answersize}条）</td>
                        <td class="zxy_title" align="center" valign="middle" width="80" height="38">被采纳答案</td>
                        <td class="zxy_title" align="center" valign="middle" width="140" height="38">回答时间</td>
                    </tr>
                    <tr>
                        <td height="37" align="center" valign="middle" colspan="5">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody>
                                    <!--{loop $answerlist $answer}-->
                                    <tr>
                                        <td height="38" align="left" width="400" valign="middle" class="zxy_biaoge_txt">
                                            <div class="tiw_blue_kuai">
                                                <span class="tiw_blue"><a title="{$answer['title']}" target="_blank" href="{url question/view/$answer['qid']}">{$answer['title']}</a></span>
                                            </div>
                                        </td>
                                        <td class="zxy_biaoge_txt f14 black" align="center" valign="middle" width="80" height="34">{if $answer['adopttime']}<font color="red">是</font>{else}<font color="green">否</font>{/if}&nbsp;</td>
                                        <td class="zxy_biaoge_txt f14 black" align="center" valign="middle" width="130" height="34">{$answer['time']}</td>
                                    </tr>
                                    <!--{/loop}-->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="font_gray">
                        <td height="20" align="right" valign="middle" colspan="5" class="f12"><div id="ask_page" style="padding: 5px 0pt;"><span id="pg_right">{$departstr}</span></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--内容 end-->
        <div class="clear">
        </div>
    </div>
</div>
{template footer}