{template header}
<div class="box">
	<div class="box_left_nav font_gray" style="font-size: 12px;">
		→ <a href="{SITE_URL}">{$setting['site_name']}</a> &gt; 站内公告
        </div>
	<!--内容 begin-->
	<div class="box_allwidth">
            <table class="ask_ok_ok" width="90%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" class="boxtop2_title" height="60"><strong>{$note['title']}</strong><br /><span class="font_gray">{$note['author']}&nbsp;{$note['time']}</span></td>
			</tr>
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;{$note['content']}</td>
			</tr>
                        <tr>
                            <td><br /><br /><br /><br /></td>
                        </tr>

		</table>
	</div>
	<!--内容 end-->
	<div class="clear">
	</div>
</div>
{template footer}