 {
	WORD-WRAP: break-word; outline: none
}
BODY {
	BACKGROUND: #fff; TEXT-ALIGN: center
}
BODY {
	FONT: 12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; COLOR: #666
}
TD {
	FONT: 12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; COLOR: #666
}
INPUT {
	FONT: 12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; COLOR: #666
}
TEXTAREA {
	FONT: 12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; COLOR: #666
}
SELECT {
	FONT: 12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; COLOR: #666
}
BUTTON {
	FONT: 12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; COLOR: #666
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 12px
}
H2 {
	FONT-SIZE: 12px
}
H3 {
	FONT-SIZE: 12px
}
H4 {
	FONT-SIZE: 12px
}
H5 {
	FONT-SIZE: 12px
}
H6 {
	FONT-SIZE: 12px
}
A {
	COLOR: #2366a8; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TABLE {
	BORDER-COLLAPSE: collapse
}
TEXTAREA {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
}
INPUT {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
}
INPUT.txt:hover {
	BORDER-LEFT-COLOR: #09c; BACKGROUND: #f5f9fd; BORDER-BOTTOM-COLOR: #09c; BORDER-TOP-COLOR: #09c; BORDER-RIGHT-COLOR: #09c
}
INPUT.txt:unknown {
	BORDER-LEFT-COLOR: #09c; BACKGROUND: #f5f9fd; BORDER-BOTTOM-COLOR: #09c; BORDER-TOP-COLOR: #09c; BORDER-RIGHT-COLOR: #09c
}
TEXTAREA:hover {
	BORDER-LEFT-COLOR: #09c; BACKGROUND: #f5f9fd; BORDER-BOTTOM-COLOR: #09c; BORDER-TOP-COLOR: #09c; BORDER-RIGHT-COLOR: #09c
}
TEXTAREA:unknown {
	BORDER-LEFT-COLOR: #09c; BACKGROUND: #f5f9fd; BORDER-BOTTOM-COLOR: #09c; BORDER-TOP-COLOR: #09c; BORDER-RIGHT-COLOR: #09c
}
.radio {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: -1px; VERTICAL-ALIGN: middle; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.checkbox {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; VERTICAL-ALIGN: middle; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: 14px
}
.btn {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-COLOR: #ddd; BACKGROUND: #ddd; BORDER-BOTTOM-COLOR: #666; PADDING-BOTTOM: 1px; MARGIN: 3px 0px; CURSOR: pointer; COLOR: #000; BORDER-TOP-COLOR: #ddd; PADDING-TOP: 4px; BORDER-RIGHT-COLOR: #666
}
.sgbtn {
	BORDER-RIGHT: #b5cfd9 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #b5cfd9 1px solid; PADDING-LEFT: 7px; FONT-WEIGHT: 400; FONT-SIZE: 12px; BACKGROUND: #f2f9fd; PADDING-BOTTOM: 2px; MARGIN-LEFT: 20px; BORDER-LEFT: #b5cfd9 1px solid; COLOR: #666; PADDING-TOP: 4px; BORDER-BOTTOM: #b5cfd9 1px solid
}
.sgbtn:hover {
	TEXT-DECORATION: none
}
.bigarea {
	MARGIN-LEFT: 5px; WIDTH: 230px; HEIGHT: 120px
}
.mainhd {
	BACKGROUND: url(bg_repx.gif) repeat-x; LINE-HEIGHT: 69px; HEIGHT: 69px; TEXT-ALIGN: left
}
.logo {
	BACKGROUND: url(bg_repno.gif) no-repeat 29px 20px; FLOAT: left; WIDTH: 321px; TEXT-INDENT: -9999px; HEIGHT: 46px
}
.uinfo {
	DISPLAY: inline; FLOAT: right; MARGIN-RIGHT: 40px
}
.uinfo A {
	COLOR: #666
}
.uinfo EM {
	FONT-WEIGHT: 700; MARGIN-RIGHT: 5px
}
.uinfo P {
	FLOAT: left
}
.othersoff {
	DISPLAY: block; BACKGROUND: url(bg_repno.gif) no-repeat 0px -680px; MARGIN: 10px 0px 0px 25px; WIDTH: 151px; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: center; outline: none
}
.otherson {
	DISPLAY: block; BACKGROUND: url(bg_repno.gif) no-repeat 0px -680px; MARGIN: 10px 0px 0px 25px; WIDTH: 151px; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: center; outline: none
}
.otherson {
	BACKGROUND: url(bg_repno.gif) no-repeat 0px -650px
}
.othersoff:hover {
	TEXT-DECORATION: none
}
.otherson:hover {
	TEXT-DECORATION: none
}
.togglemenu {
	BORDER-RIGHT: #b5cfd9 1px solid; BORDER-TOP: medium none; Z-INDEX: 1000; BACKGROUND: #fff; FILTER: Alpha(opacity=80); BORDER-LEFT: #b5cfd9 1px solid; WIDTH: 151px; BORDER-BOTTOM: #b5cfd9 1px solid; POSITION: absolute; TEXT-ALIGN: left; opacity: 0.8
}
.togglemenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(bg_repx_hd.gif) repeat-x; PADDING-BOTTOM: 10px; MARGIN: 0px 2px 2px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
.togglemenu A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; COLOR: #666; PADDING-TOP: 5px; TEXT-DECORATION: underline
}
.togglemenu A:hover {
	COLOR: #09c
}
#header_menu {
	PADDING-RIGHT: 20px; CURSOR: pointer; TEXT-ALIGN: right
}
.container {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(bg_repx_hb.gif) repeat-x; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: left
}
.note {
	BORDER-RIGHT: #b5cfd9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b5cfd9 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f5f9fd; PADDING-BOTTOM: 10px; MARGIN: 5px 0px; BORDER-LEFT: #b5cfd9 1px solid; WIDTH: 580px; PADDING-TOP: 10px; BORDER-BOTTOM: #b5cfd9 1px solid
}
.i {
	PADDING-LEFT: 22px; BACKGROUND: url(bg_repno.gif) no-repeat -275px -100px; LINE-HEIGHT: 19px
}
.i A {
	TEXT-DECORATION: underline
}
.i A:hover {
	TEXT-DECORATION: none
}
.mainbox {
	MARGIN: 10px 0px
}
.opt {
	CLEAR: both; OVERFLOW: hidden
}
.opt TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.opt TD {
	PADDING-BOTTOM: 10px
}
.opt .txt {
	VERTICAL-ALIGN: middle; WIDTH: 180px; MARGIN-RIGHT: 10px
}
.opt TEXTAREA {
	VERTICAL-ALIGN: middle; WIDTH: 180px; MARGIN-RIGHT: 10px
}
.opt SELECT {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 10px
}
.opt .area {
	HEIGHT: 80px
}
.opt .bigarea {
	WIDTH: 500px; HEIGHT: 80px
}
.opt LABEL {
	MARGIN-RIGHT: 20px
}
.opt P {
	FLOAT: left; LINE-HEIGHT: 180%
}
.correct TD {
	COLOR: #090
}
.correct .txt {
	PADDING-RIGHT: 20px; BACKGROUND: url(bg_repno.gif) no-repeat 165px -198px; WIDTH: 160px
}
.error TD {
	COLOR: #f60
}
.error .txt {
	PADDING-RIGHT: 20px; BACKGROUND: url(bg_repno.gif) no-repeat 167px -346px; WIDTH: 160px
}
.datalist {
	CLEAR: both; BORDER-TOP: #b5cfd9 2px solid; WIDTH: 100%; BORDER-BOTTOM: #b5cfd9 2px solid
}
.datalist TH {
	FONT-SIZE: 12px; BACKGROUND: url(bg_repx.gif) repeat-x 0px bottom; COLOR: #9ebecb; LINE-HEIGHT: 250%; TEXT-ALIGN: left
}
.datalist TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(bg_repx.gif) repeat-x 0px bottom; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.currenttr TD {
	BACKGROUND: url(bg_repx.gif) #f2f9fd repeat-x 0px bottom
}
.datalist A {
	TEXT-DECORATION: underline
}
.datalist A:hover {
	TEXT-DECORATION: none
}
.datalist .txt {
	OVERFLOW: hidden; WIDTH: 90%
}
.datalist .txtnobd {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; OVERFLOW: hidden; BORDER-LEFT: #fff 1px solid; WIDTH: 90%; CURSOR: pointer; BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: right
}
.datalist .bigarea {
	WIDTH: 500px; HEIGHT: 80px
}
.datalist .first-cell {
	font-weight:bold;padding-left:10px;
}

.tdinput {
	PADDING-RIGHT: 30px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 160px; PADDING-TOP: 0px
}
.tdarrow {
	WIDTH: 20px
}
.option {
	WIDTH: 10%
}
.username {
	FONT-WEIGHT: 700; WIDTH: 20%
}
.date {
	WIDTH: 25%
}
.ip {
	WIDTH: 15%
}
.fixwidth {
	WIDTH: 100%
}
.fixwidthdec {
	WIDTH: 580px
}
#loginform {
	MARGIN: 90px auto; OVERFLOW: hidden; WIDTH: 590px; PADDING-TOP: 90px
}
.login {
	MARGIN-TOP: 5px; FLOAT: left; FONT: bold 14px "??"; TEXT-ALIGN: right
}
.login P {
	MARGIN: 10px 5px
}
.loginbtn {
	PADDING-LEFT: 53px; TEXT-ALIGN: left
}
.login .txt {
	WIDTH: 160px
}
.checkcode {
	MARGIN-TOP: -6px; VERTICAL-ALIGN: middle; WIDTH: 70px; CURSOR: pointer; HEIGHT: 21px
}
.loginbox {
	PADDING-RIGHT: 40px; BACKGROUND: url(bg_login.gif) no-repeat right 50%; WIDTH: 290px; LINE-HEIGHT: 150%; HEIGHT: 120px
}
.loginbox H1 {
	BACKGROUND: url(bg_repno.gif) no-repeat 0px -750px; MARGIN: 10px 0px; TEXT-INDENT: -9999px; HEIGHT: 25px
}
.ajax {
	BORDER-RIGHT: #89b3c2 1px solid; BORDER-TOP: #89b3c2 1px solid; BORDER-LEFT: #89b3c2 1px solid; WIDTH: 360px; BORDER-BOTTOM: #89b3c2 1px solid
}
.ajaxbg {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(bg_repx_hc.gif) repeat-x; PADDING-BOTTOM: 15px; MARGIN: 2px; PADDING-TOP: 15px
}
.alert {
	PADDING-LEFT: 40px; BACKGROUND: url(bg_repno.gif) no-repeat 0px -500px
}
.alert H4 {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 3px
}
.alert P {
	MARGIN-BOTTOM: 12px; COLOR: #09c
}
.alert .btn {
	VERTICAL-ALIGN: middle
}
.alert A.abtn {
	MARGIN-LEFT: 20px; TEXT-DECORATION: underline
}
.alert A.abtn:hover {
	TEXT-DECORATION: none
}
.errormsg {
	BORDER-RIGHT: #dd3d11 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dd3d11 1px solid; PADDING-LEFT: 10px; BACKGROUND: #ffebeb; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; BORDER-LEFT: #dd3d11 1px solid; WIDTH: 580px; PADDING-TOP: 10px; BORDER-BOTTOM: #dd3d11 1px solid
}
.errormsg P {
	PADDING-LEFT: 15px; BACKGROUND: url(bg_repno.gif) no-repeat -300px -648px
}
.errormsg EM {
	FONT-WEIGHT: 700; COLOR: #dd3d11
}
.correctmsg {
	BORDER-RIGHT: #4ebb20 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #4ebb20 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fcfff0; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; BORDER-LEFT: #4ebb20 1px solid; WIDTH: 580px; PADDING-TOP: 10px; BORDER-BOTTOM: #4ebb20 1px solid
}
.correctmsg P {
	PADDING-LEFT: 17px; BACKGROUND: url(bg_repno.gif) no-repeat -335px -598px
}
.correctmsg EM {
	FONT-WEIGHT: 700; COLOR: #4ebb20
}
.loginmsg {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; MARGIN: -45px 0px 0px -73px; WIDTH: 197px; LINE-HEIGHT: 150%; POSITION: absolute; TEXT-ALIGN: left
}
.loginmsg P {
	MARGIN: 0px
}
.rtninfo {
	MARGIN: 50px auto; WIDTH: 500px; LINE-HEIGHT: 180%
}
.rtninfo H4 {
	PADDING-LEFT: 25px; FONT-SIZE: 14px; BACKGROUND: url(bg_repno.gif) no-repeat -275px -98px; MARGIN-BOTTOM: 10px
}
.rtninfo P {
	MARGIN-LEFT: 25px
}
.footer {
	DISPLAY: block; LINE-HEIGHT: 25px
}
.hastabmenu {
	WIDTH: 580px; POSITION: relative; HEIGHT: 90px
}
.tabmenu {
	Z-INDEX: 80; LIST-STYLE-TYPE: none; POSITION: absolute
}
.tabmenu LI {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.tabmenu LI A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 7px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; COLOR: #666; PADDING-TOP: 3px; BORDER-BOTTOM: #b5cfd9 1px solid
}
.tabmenu .tabcurrent A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 7px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; COLOR: #666; PADDING-TOP: 3px; BORDER-BOTTOM: #b5cfd9 1px solid
}
.tabmenu LI A:hover {
	TEXT-DECORATION: none
}
.tabmenu .tabcurrent A {
	BORDER-RIGHT: #b5cfd9 1px solid; BORDER-TOP: #b5cfd9 1px solid; BACKGROUND: #f2f9fd; BORDER-LEFT: #b5cfd9 1px solid; BORDER-BOTTOM: #f2f9fd 1px solid
}
.tabcontent {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; Z-INDEX: 70; PADDING-BOTTOM: 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 580px; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TOP: 21px
}
.tabcontentcur {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; Z-INDEX: 70; PADDING-BOTTOM: 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 580px; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TOP: 21px
}
.tabcontentcur {
	BORDER-RIGHT: #b5cfd9 1px solid; BORDER-TOP: #b5cfd9 1px solid; BACKGROUND: #f2f9fd; BORDER-LEFT: #b5cfd9 1px solid; BORDER-BOTTOM: #b5cfd9 1px solid
}
.tabcontent .txt {
	WIDTH: 110px; MARGIN-RIGHT: 10px
}
.tabcontentcur .txt {
	WIDTH: 110px; MARGIN-RIGHT: 10px
}
.tabcontent .btn {
	MARGIN-LEFT: 5px
}
.tabcontentcur .btn {
	MARGIN-LEFT: 5px
}

.dbtb {
	CLEAR: both; WIDTH: 100%
}
.tbtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 70px; PADDING-TOP: 5px
}
.dbtb .btn {
	MARGIN-LEFT: 0px
}
.tdpage {
	TEXT-ALIGN: right
}
.pages {
	CLEAR: both; MARGIN: 10px 0px
}
.pages EM {
	BORDER-RIGHT: #e5e5e5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 5px; BORDER-LEFT: #e5e5e5 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e5e5e5 1px solid; TEXT-DECORATION: none
}
.pages A {
	BORDER-RIGHT: #e5e5e5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 5px; BORDER-LEFT: #e5e5e5 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e5e5e5 1px solid; TEXT-DECORATION: none
}
.pages STRONG {
	BORDER-RIGHT: #e5e5e5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 5px; BORDER-LEFT: #e5e5e5 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e5e5e5 1px solid; TEXT-DECORATION: none
}
.pages A:hover {
	BORDER-RIGHT: #09c 1px solid; BORDER-TOP: #09c 1px solid; BACKGROUND: #09c; BORDER-LEFT: #09c 1px solid; COLOR: #fff; BORDER-BOTTOM: #09c 1px solid; TEXT-DECORATION: none
}
.pages STRONG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: 700; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.pages KBD {
	MARGIN-LEFT: 5px
}
H3 {
	FONT-SIZE: 14px
}
H3 .btn {
	MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle
}
.dblist {
	MARGIN-TOP: 5px; LIST-STYLE-TYPE: none
}
.dblist LI {
	FLOAT: left; MARGIN: 0px 0px 5px -3px; WIDTH: 25%; HEIGHT: 16px
}
.memlist {
	BORDER-TOP: #b5cfd9 2px solid; MARGIN: 7px 0px 25px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
.memlist LI {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(bg_repx.gif) repeat-x 0px bottom; PADDING-BOTTOM: 5px; OVERFLOW: hidden; LINE-HEIGHT: 150%; PADDING-TOP: 1px; ZOOM: 1
}
.memlist EM {
	FLOAT: left; WIDTH: 120px
}
.memlist .memcont {
	WIDTH: 480px
}
.tiplist {
	FLOAT: right; WIDTH: 320px; LIST-STYLE-TYPE: none
}
.tiplist LI {
	LINE-HEIGHT: 160%
}
.optlist {
	CLEAR: both; MARGIN: 5px 0px; WIDTH: 100%; LIST-STYLE-TYPE: none
}
.optlist LI {
	LINE-HEIGHT: 180%
}
.table1 TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.table1 TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.calendarmenu {
	BORDER-RIGHT: #b5cfd9 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: #b5cfd9 1px solid; PADDING-LEFT: 9px; BACKGROUND: #fff; FILTER: Alpha(opacity=80); PADDING-BOTTOM: 9px; BORDER-LEFT: #b5cfd9 1px solid; PADDING-TOP: 9px; BORDER-BOTTOM: #b5cfd9 1px solid; POSITION: absolute; opacity: 0.8
}
.statimg {
	MARGIN: 0px 5px 2px 0px; VERTICAL-ALIGN: middle
}
.line {
	CLEAR: both; BORDER-TOP: #ccc 1px solid; MARGIN: 10px 0px; POSITION: relative
}
.line P {
	FONT-WEIGHT: 700; RIGHT: 50px; POSITION: absolute; TOP: 14px
}
.margintop {
	MARGIN-TOP: 10px
}
.marginbot {
	MARGIN-BOTTOM: 10px
}
.nomargin {
	MARGIN: 0px
}
.nobg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.nobg TD {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.center {
	TEXT-ALIGN: center
}
.bold {
	FONT-WEIGHT: 700
}
.red {
	COLOR: red
}
.green {
	COLOR: green
}
.tabhead {
	CLEAR: both; BACKGROUND: url(bg_tab_line.gif) repeat-x 50% bottom; WIDTH: 100%
}
.tabhead LI {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #666; LINE-HEIGHT: 1.2em; MARGIN-RIGHT: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #b5cfd9 0px solid
}
.tabhead LI.checked {
	FONT-WEIGHT: 800; BACKGROUND: #f2f9fd
}
.tabbody {
	CLEAR: both; BORDER-RIGHT: #b5cfd9 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: 0px; PADDING-LEFT: 1em; BACKGROUND: #f2f9fd; PADDING-BOTTOM: 1em; BORDER-LEFT: #b5cfd9 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #b5cfd9 1px solid
}

.list{background-color:#ffffff;border:1px solid #DDDDDD;}
.list td{line-height:200%;border-top:1px solid #efefef;}
.list .rate td{	border:0px;}
.list a{text-decoration: none;color:#000080;}
.list a:visited{color:#444444;}
.list a:hover{color:#000000;text-decoration: underline;}
.list .list_title {font-weight:bolder;}
.list .list_title td{border-bottom:1px solid #efefef;}
.list .date {font-family: "arial";font-size:10px;}
.list .number {font-size:12px;}
.list .small_number {font-size:10px;}
.list .list_high{background-color:#ffffff;}
.list .list_dark{background-color:#8cabd7;}
.list .list_hover{background-color:#ffcc99;}
