{template header}
<!--<script type="text/javascript" src="js/ueditor/editor_config.js"></script>
<script type="text/javascript" src="js/ueditor/editor_all.js"></script>
<script type="text/javascript" src="js/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>-->
<base id="headbase" href="http://localhost/tipask/" /> 
<script type="text/javascript" src="js/core/core.js"></script>
<script type="text/javascript" src="js/pw_ajax.js"></script>
<script> 
var imgpath = 'images';
var verifyhash = '67b52431';
var modeimg = '';
var modeBase = '';
var winduid = '1';
var windid	= 'admin';
var groupid	= '3';
var basename = '';
var temp_basename = '';
var db_shiftstyle = '1';
var pw_baseurl = "http://localhost/tipask/";
function shiftStyle(){
	if(db_shiftstyle == 1){
		if (getObj('widthCfg').innerHTML=='切换到宽版') {
if(!getObj('fullscreenStyle')) {
		var l = document.createElement('link');
		l.id="fullscreenStyle";
		l.rel="stylesheet";
		l.type="text/css";
		l.href="images/fullscreen.css";
		l.media="all";
		document.body.appendChild(l);
}else {
	getObj('fullscreenStyle').disabled = false;
}
getObj('widthCfg').innerHTML='切换到窄版';
var widthCfg = 1;
		} else {
var widthCfg = 0;
getObj('fullscreenStyle').disabled=true;
getObj('widthCfg').innerHTML='切换到宽版';
		}
		SetCookie('widthCfg',widthCfg);
		if(typeof goTop!="undefined"){
goTop.setStyle();
		}
		if(typeof messagetip!="undefined"&&typeof messagetip.db!="undefined"){
messagetip.setStyle();
messagetip.update();
		}
	}
};
</script>

<link rel="stylesheet" href="js/ueditor/themes/default/ueditor.css"/>
<link rel="stylesheet" href="js/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css"/>
<div class="content">
    <div class="dh" id="pos"><a href="">{$setting['site_name']}</a>&gt; 提问问题</div>
    <div class="left1">
        <div class="leftt">
            <ul>
                <li class="a1"></li>
                <li class="a2"><div class="juzhong">提问问题</div></li>
                <li class="a3"></li>
            </ul>
        </div>
        <div class="clr"></div>
        <div class="leftc">

            <div class="tw_t">{if isset($touser)}您正在向<a href="{url user/space/$touser['uid']}">{$touser['username']}</a>提问{else}请将您的问题告诉我们{/if}:</div>
            <div class="askfgx"></div>
            <form name="askform" onsubmit="return check_askform(this);" action="{url question/add}" method="post" >
                <div class="tiwen">
                    <div class="shur1">
                        <h2>您的问题:</h2> <input type="text"  maxlength="100" size="65" name="title" value="{$word}" id="mytitle"  class="input1"  />
                    </div>
					                    <div class="shur1">
                        <h2>问答区域:</h2>
                        <select name="ask_area" id="ask_area">
                              <option value="">请选择</option>
                              <option value="1">普通咨询</option>
                              <option value="2">处方咨询</option>
                              <option value="3">处方共享</option>
                              <option value="4">病案讨论</option>
                          </select>
                    </div>                    <div class="shur1">
                        <h2>问题补充:</h2>
                    </div>
                    <div class="clr"></div>
                    <div class="shur4">
<!--      <div style="margin-left: 75px;"><a href="#" onclick="showdetail();" title="补充更多问题细节，确保问题的准确解答！"><b id="showtype">+</b>更多问题描述(选填)</a></div>                   <script type="text/plain" id="mydescription" name="description" style="width:550px;margin-left:75px;display:none;"></script>
<script type="text/javascript">
         var mycontent = new baidu.editor.ui.Editor(editor_options);
        mycontent.render("mydescription");
		                        </script>-->
	   <!---->
<link rel="stylesheet" href="js/breeze/editor/style/style.css?20111111" />
<textarea id="textarea" name="description" class="B_textarea" tabindex="200"></textarea>
		<script src="html/js/face.js"></script>
<script>var BREEZE_BASE_PATH = getBaseUrl() + 'js/breeze/';</script>
<script src="js/breeze/core/base.js"></script>
<script type="text/javascript"> 
//记录标题和内容，编辑器初始化完成调用(wysisyg_editor.htm line66)
function initStorage(){
		if(!editor.currentMode){
return false;
		}
		var mode=editor.currentMode;
		B.require('util.localStorage', function(){
	if(B.util.localStorage&&B.util.localStorage.get!=undefined){
		var locTitle=B.util.localStorage.get('post_title');
		var locContent=B.util.localStorage.get('post_content');
		if(locTitle){
getObj("atc_title").value=locTitle;
		}
		if(locContent){
editor.setHTML(mode=="default"?locContent:editor.html2ubb(locContent));
		}
	}
		});
}
//保存数据
function savePostDateAndGo(url){
		var title=getObj("atc_title").value;
		var content=editor.getHTML();
		if(editor){
if(B.util==undefined){
	B.require('util.localStorage', function(){
		if(B.util.localStorage&&B.util.localStorage.get!=undefined){
if(title!=""){
	B.util.localStorage.set('post_title', title);
}else{
	B.util.localStorage.remove('post_title');
}
if(content){
	B.util.localStorage.set('post_content', content);
}
//location.href=url;
		}	
	});
}else{
	if(B.util.localStorage&&B.util.localStorage.get!=undefined){
		if(title!=""){
B.util.localStorage.set('post_title', title);
		}else{
B.util.localStorage.remove('post_title');
		}
		if(content){
B.util.localStorage.set('post_content', content);
		}
		//location.href=url;
	}
}
		}
	return false;	
}
//清除储存的数据
function clearPostData(){
		if(typeof B!="undefined"&&B.util!=undefined){
B.util.localStorage.remove('post_title');
B.util.localStorage.remove('post_content');
		}
}
function isEmptyObject(obj){
	for (var name in obj) return false;
	return true;
}
var attachConfig = {
		'attachnum' : parseInt('10'),
		'list' : {},
		'sell' : {ifopen : '', price : '', income : '', credit : {"money":"铜币"}},
		'enhide' : {ifopen : 'disabled', credit : []},
		'ifhide' : '',
		'postData' : {fid : '2'},
		'remoteAttUrl':'',
		'filetype' : {"gif":2000,"png":2000,"zip":2000,"rar":2000,"jpg":2000,"txt":2000},
		'atUserList':[]
	},
	imageConfig = {
		//tabs : ['local','album','network'],
		tabs : ['network'],
		url : 'pweditor.php?action=image',
		filetype : {"gif":2000,"png":2000,"jpg":2000}
	},
	charset = 'gbk',
	editor,
	toolbar = [
		'fontSelector sizeSelector br boldIcon italicIcon underlineIcon strikethroughIcon foreColor backColor removeformat',
		'leftIcon centerIcon rightIcon pgformatIcon br olIcon ulIcon indentIcon',
		'outdentIcon hrIcon quoteIcon sellIcon postIcon br linkIcon unlinkIcon tableIcon undoIcon redoIcon',
		//'faceBtn photoBtn fileBtn musicBtn videoBtn','remotePid'
		'faceBtn photoBtn',
	],
	mini = 'fontSelector sizeSelector boldIcon italicIcon underlineIcon foreColor linkIcon leftIcon centerIcon rightIcon faceBtn photoBtn';
onReady(function(){
	var textarea=getObj("textarea");
	B.require('editor.editor', 'editor.ubb', function(B){
		editor = B.editor(textarea, toolbar, mini, {
'currentMode' : FetchCookie('editmode') == 1 ? 'UBB' : 'default',
'isSaveMode' : true,
'isUBB' : ('' == 'checked') ? false : true,
'allowAt':true,
'allowAtLen':10
		});
		if (!isEmptyObject(attachConfig.list)){
var fileIcon = B.$('.B_fileIcon', editor.area).parentNode;
B.insertAfter(B.createElement('<div class="B_attachn"><div></div></div>'), fileIcon);
		}
		//初始化localStorage数据
		if (FetchCookie('ds') == 1) {
try{dataStorage.load();}catch(e){}
		}else{
initStorage();
		}
		if(attachConfig&&attachConfig.atUserList){
var list=attachConfig.atUserList;
if(list.length<1){
	return false;
}
if(typeof pwSearch!="undefined"){
	pwSearch.init('message.php?type=ajax','action=friend','resultd',"",function(obj){
		for(var i=0,len=list.length;i<len;i++){
pwSearch.add(list[i])
		}
	});
}
 
		}
	});
})
</script>
        <!---->
</div>
                    <div class="clr"></div>

                    <div class="shur1">
                        <h2>标签(TAG):</h2>  
                        <input type="text"  maxlength="8" name="qtags[]" class="input4" value="" />
                        <input type="text"  maxlength="8" name="qtags[]" class="input4" value="" />                   
                        <input type="text"  maxlength="8" name="qtags[]" class="input4" value="" />                  
                        <input type="text"  maxlength="8" name="qtags[]" class="input4" value="" />                   
                        <input type="text"  maxlength="8" name="qtags[]" class="input4" value="" />                   
                    </div>
                    <div class="clr"></div>
                    <div class="shur shur3">
                        <h2>问题分类</h2>
                        <div id="classnav" name="classnav">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr valign="top">
                                    <td width="15%">

                                        <select  id="ClassLevel1" class="catselect2" size="8" name="classlevel1" >
                                            <option selected></option>
                                        </select>

                                    </td>
                                    <td align="center" valign="middle" width="7%">
                                        <div><b>→</b></div>
                                    </td>
                                    <td width="15%">                                        
                                        <select  id="ClassLevel2"  class="catselect2" size="8" name="classlevel2">
                                            <option selected></option>
                                        </select>                                        
                                    </td>
                                    <td align="center" valign="middle" width="7%">
                                        <div style="display: none;" id="jiantou"><b>→</b></div>
                                    </td>
                                    <td width="15%">
                                        <select id="ClassLevel3"  class="catselect2" size="8" onchange="getCidValue();"  name="classlevel3">
                                            <option selected></option>
                                        </select>
                                    </td>
                                    <td width="32%"></td>
                                </tr>
                                <tr valign="top">
                                    <td class="tiw_biaozhu" colspan="6" align="left" valign="middle">请您选择正确的分类，以使您的问题尽快得到解答。</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clr"></div>

                    <div class="shur shur2">
                        <h2>问题设置</h2>
                        <div class="shezhi">
                            <h3>悬赏分:</h3>                           
                            <select name="scorelist" id="scorelist" class="select1" onchange="otherscore();">
                                <option selected="selected" value="0">0</option>
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="80">80</option>
                                <option value="100">100</option>
                                <option value="other">其他</option>
                            </select>&nbsp;<span class="zhusi" style="display:none;" id="showscore"><input type="text"  maxlength="8" name="givescore"  id="givescore"  class="input4"  value="0"/></span>&nbsp;分 &nbsp;<span class="zhusi">您目前的财富值:{if $user['credit2']}$user['credit2']{else}0{/if} 悬赏分越高，您的问题会越受关注。</span>
                            <div class="clr"></div> 
                            <!--{if $user['uid']}-->
                            <h3>匿名设定:</h3><input type="checkbox" name="hidanswer" value="1" class="checkbox1" />&nbsp;<span class="zhusi">您需要付出财富值10分</span>
                            <div class="clr"></div>
                            <!--{/if}-->
                            <!--{if $setting['code_ask']}-->
                            <h3>验证码:</h3><input type="text"  maxlength="8" name="code"    class="input4"  />&nbsp;<img  id="verifycode" align="absmiddle"   src="{url user/code}" />&nbsp;<a href="javascript:updatecode();">换一张</a>
                            <div class="clr"></div> 
                            <!--{/if}-->
                            <input type="hidden" value="0" name="cid" />
                            <input type="hidden" value="$askfromuid" name="askfromuid" />                            
                        </div>
                    </div>
                    <div id="searchresult"></div>
                    <div class="asksubmit"><button name="submit" type="submit" class="btn_addques" ></button></div>
                    <div class="clr"></div>
                </div>

            </form>
        </div>
        <div class="clr"></div>
        <div class="leftb"></div>
    </div>
    <div class="right1">
        <div class="gg">
            <div class="ggtitle">
                <ul>
                    <li class="gga1"></li>
                    <li class="gga2">
                        <div class="juzhong">
                            <div class="qico" ><div class="irelate"></div></div>
                            别人都在问什么
                        </div>
                    </li>
                    <li class="gga3"></li>
                </ul>
            </div>
            <div class="clr"></div>
            <div class="ggcon">
                <ul>
                    <!--{eval $nosolvelist=$this->fromcache('nosolvelist');}-->
                    <!--{loop $nosolvelist $index $nosolve}-->
                    <li> <a title="{$nosolve['title']}" target="_blank" href="{url question/view/$nosolve['id']}">{eval echo cutstr($nosolve['title'],24);}</a></li>
                    <!--{/loop}-->
                </ul>
            </div>
            <div class="ggbuttom">
                <ul>
                    <li class="ggba1"></li>
                    <li class="ggba2"></li>
                    <li class="ggba3"></li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>

        <div class="gg">
            <div class="ggtitle">
                <ul>
                    <li class="gga11"></li>
                    <li class="gga21">
                        <div class="juzhong">&nbsp;知道小贴士</div>
                    </li>
                    <li class="gga31"></li>
                </ul>
            </div>
            <div class="clr"></div>
            <div class="ggcon">
                <ul>
                    <li><a target="_blank" title="如何提问" href="{url index/help}#如何提问">如何提问</a></li>
                    <li><a target="_blank" title="如何回答" href="{url index/help}#如何回答">如何回答</a></li>
                    <li><a target="_blank" title="如何获得积分" href="{url index/help}#如何获得积分">如何获得积分</a></li>
                    <li><a target="_blank" title="如何处理问题" href="{url index/help}#如何处理问题">如何处理问题</a></li>
                </ul>
            </div>
            <div class="ggbuttom">
                <ul>
                    <li class="ggba1"></li>
                    <li class="ggba2"></li>
                    <li class="ggba3"></li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</div>
<div class="clr"></div>
                <script type="text/javascript">
	     $(document).ready(function () {
        $("#mytitle").bind("blur", function(){
            searchurl="?question/ajaxsearch/"+encodeURI($("#mytitle").val());
            $("#searchresult").load(searchurl);
        });
    });
    var showtagdesc = true;
    var sortobj=eval('($category_js)');
    var g_ClassLevel1;
    var g_ClassLevel2;
    var g_ClassLevel3;
    var class_level_1=sortobj.category1;
    var class_level_2=sortobj.category2;
    var class_level_3=sortobj.category3;
    var button_noselect="不选择";

    function getCidValue()
    {
        var _cl1 = document.askform.ClassLevel1;
        var _cl2 = document.askform.ClassLevel2;
        var _cl3 = document.askform.ClassLevel3;
        var _cid = document.askform.cid;
        if(_cl1.value!=0) _cid.value = _cl1.value;
        if(_cl2.value!=0) _cid.value = _cl2.value;
        if(_cl3.value!=0) _cid.value = _cl3.value;
    }
    function FillClassLevel1(ClassLevel1)
    {
        ClassLevel1.options[0] = new Option("aa", "0");
        for(i=0; i<class_level_1.length; i++)
        {
            ClassLevel1.options[i] = new Option(class_level_1[i][1], class_level_1[i][0]);
        }
        // ClassLevel1.options[0].selected = true;
        ClassLevel1.length = i;
    }
    function FillClassLevel2(ClassLevel2, class_level_1_id)
    {
        ClassLevel2.options[0] = new Option(button_noselect, "");
        count = 1;
        for(i=0; i<class_level_2.length; i++){
            if(class_level_2[i][0].toString() == class_level_1_id) {
                ClassLevel2.options[count] = new Option(class_level_2[i][2], class_level_2[i][1]);
                count = count+1;}
        }
        ClassLevel2.options[0].selected = true;
        ClassLevel2.length = count;
    }
    function FillClassLevel3(ClassLevel3, class_level_2_id)
    {
        ClassLevel3.options[0] = new Option(button_noselect, "");
        count = 1;
        for(i=0; i<class_level_3.length; i++) {
            if(class_level_3[i][0].toString() == class_level_2_id) {
                ClassLevel3.options[count] = new Option(class_level_3[i][2], class_level_3[i][1]);
                count = count+1;}
        }
        ClassLevel3.options[0].selected = true;
        ClassLevel3.length = count;
    }
    function ClassLevel2_onchange()
    {
        getCidValue();
        FillClassLevel3(g_ClassLevel3, g_ClassLevel2.value);
        if (g_ClassLevel3.length <= 1) {
            g_ClassLevel3.style.display = "none";
            document.getElementById("jiantou").style.display = "none";
        }
        else {
            g_ClassLevel3.style.display = "";
            document.getElementById("jiantou").style.display = "";
        }
    }
 
    function ClassLevel1_onchange()
    {
        getCidValue();
        FillClassLevel2(g_ClassLevel2, g_ClassLevel1.value);
        ClassLevel2_onchange();
	
    }
    function InitClassLevelList(ClassLevel1, ClassLevel2, ClassLevel3)
    {
        g_ClassLevel1=ClassLevel1;
        g_ClassLevel2=ClassLevel2;
        g_ClassLevel3=ClassLevel3;
        g_ClassLevel1.onchange = Function("ClassLevel1_onchange();");
        g_ClassLevel2.onchange = Function("ClassLevel2_onchange();");
        FillClassLevel1(g_ClassLevel1);
        ClassLevel1_onchange();
    }
    InitClassLevelList(document.askform.ClassLevel1, document.askform.ClassLevel2, document.askform.ClassLevel3);

    var selected_id_list="0"
    var blank_pos = selected_id_list.indexOf(" ");
    var find_blank = true;
    if (blank_pos == -1) {
        find_blank = false;
        blank_pos = selected_id_list.length;
    }
    var id_str = selected_id_list.substr(0, blank_pos);
    g_ClassLevel1.value = id_str;
    ClassLevel1_onchange();

    if (find_blank == true) {
        selected_id_list = selected_id_list.substr(blank_pos + 1,   selected_id_list.length - blank_pos - 1);
        blank_pos = selected_id_list.indexOf(" ");
        if (blank_pos == -1) {
            find_blank = false;
            blank_pos = selected_id_list.length;
        }
        id_str = selected_id_list.substr(0, blank_pos);
        g_ClassLevel2.value = id_str;
        ClassLevel2_onchange();

        if (find_blank == true) {
            selected_id_list = selected_id_list.substr(blank_pos + 1,  selected_id_list.length - blank_pos - 1);
            blank_pos = selected_id_list.indexOf(" ");
            if (blank_pos == -1) {
                find_blank = false;
                blank_pos = selected_id_list.length;
            }
            id_str = selected_id_list.substr(0, blank_pos);
            g_ClassLevel3.value = id_str;
        }
    }

    /*检查*/
    function check_askform(obj){
        if (bytes($.trim(obj.title.value)) < 8 ||  bytes($.trim(obj.title.value))>120) {
            alert("问题标题长度不得少于4个字，不能超过30字！");
            obj.title.focus();
            return false;
        }
		        if (bytes(obj.ask_area.value)=='') {
            alert("请选择问答区域！");
            obj.ask_area.focus();
            return false;
        }
        if(obj.classlevel1.selectedIndex==-1){
            alert("没有选择分类!");
            return false;
        }
        <!--{if $user['uid']}-->
        //检查财富值是否够用
        var offerscore=0;
        var selectsocre = $("#scorelist").val();
        if(selectsocre != 'other')
            $("#givescore").val(selectsocre);
        if(obj.hidanswer.checked)offerscore+=10;
        offerscore+=parseInt(obj.givescore.value);
        if(offerscore>$user['credit2']){
            alert("你的财富值不够!");
            return false;
        }
        <!--{/if}-->
        if(showtagdesc)
            $("#qtags").val("");
    }
    function otherscore(){
        if($("#scorelist").val() == 'other')
            $("#showscore").show();
        else
            $("#showscore").hide();
   
    }
    /*显示或隐藏提问细节编辑器*/
    function showdetail(){
        var showtype = $("#showtype").html();
        if('+' == showtype){
            $("#mydescription").show(); //滑入
            $("#showtype").html('-');
        }else{
            $("#mydescription").hide(); //滑入
            $("#showtype").html('+');            
        }
    }
    /*隐藏标签描述*/
    function hidetagdesc(){       
        if(showtagdesc){
            $("#qtags").val('');
            showtagdesc = false;
        }           
    }
    function ajaxgettags(){
        var qtitle = $.trim($("#mytitle").val());
        if('' == qtitle)
            return false;
        $.post("{url question/ajaxtags}",{qtitle:qtitle},function(result){
            $("#qtags").val(result);
            showtagdesc = false;
        });
    }   
</script>
{template footer}
