{template header}
<div class="content">
    <div class="uleft">
        <div class="tximg"><img width="100px" height="100px" src="{$user['avatar']}" alt="{$user['username']}" title="{$user['username']}"></div>
        <div class="txname">
            {$user['username']}
            <!--{if $user['islogin']}-->
            <img src="css/default/online.gif" align="absmiddle" title="当前在线" alt="当前在线"/>
            <!--{else}-->
            <img src="css/default/outline.gif" align="absmiddle" title="当前离线" alt="当前离线"/>
            <!--{/if}-->
        </div>
        <div class="clr"></div>
        <div class="list">
            <h1><a title="我的主页" target="_top" href="{url user/score}"><img width="16" height="16" align="absmiddle" src="css/default/myhome.gif" /> &nbsp;我的主页</a></h1>
            <h1><a title="我的问答" target="_top" href="{url user/ask/2}"><img width="16px" height="15px" align="absmiddle" src="css/default/myanswer.gif" /> &nbsp;我的问答</a></h1>
            <h1><a title="我的消息" target="_top" href="{url message/new}"><img width="16px" height="16px" align="absmiddle" src="css/default/mymsg.gif" /> &nbsp;我的消息</a></h1>
            <h1 class="on"><a title="我收藏的问题" target="_top" href="{url user/favorite}"><img width="14" height="15" align="absmiddle" src="css/default/mycollect.gif" /> &nbsp;我的收藏</a></h1>
        </div>
    </div>
    <div class="uright">
        <div class="jianjie">&nbsp;全部收藏的问题</div>
        <div class="fg"><img width="780px;" height="6px" src="css/default/gx.gif"></div>
        <div class="grxqt"></div>
        <div class="wdhd2">
            <ul class="bt">
                <li class="bt1">标题（共{$questiontotal}条）</li>                
                <li class="b3">浏览数/阅读</li>
                <li class="b5">悬赏分</li>
                <li class="b3">状态</li>
                <li class="b4">提问时间</li>
            </ul>
            <!--{loop $favoritelist $question}-->
            <ul>
                <li class="b1">
                    <a href="{$question['url']}" target="_blank" title="{$question['title']}">{eval echo cutstr($question['title'],38)}</a><span class="lei">[<a href="{url category/view/$question['cid']}" title="{$question['category_name']}">{eval echo cutstr($question['category_name'],10,'');}</a>]</span>
                </li>
                <li class="b3">{$question['answers']}/{$question['views']}</li>
                <li class="b5">{$question['price']}</li>
                <li class="b3"><img src="css/common/icn_{$question['status']}.gif" /></li>
                <li class="b4">{$question['format_time']}</li>
            </ul>
            <!--{/loop}-->
        </div>
        <div class="blank20"></div>
        <div class="pages"><div class="scott">{$departstr}</div></div>
    </div>
</div>
<div class="clr"></div>
{template footer}
