{template header}
<div class="content">
    <div class="zdgg">
        <div class="zdggt">
            <ul>
                <li class="a1"></li>
                <li class="a2">查看站内公告</li>
                <li class="a3"></li>
            </ul>
        </div>
        <div class="clr"></div>
        <div class="zdggc">
            <div class="ggc">
                <h1>{$note['title']}</h1>
                <div class="fbrq">发布时间：&nbsp;{$note['time']}</div>
                <div class="gc">{$note['content']}</div>
            </div>
        </div>
        <div class="zdggb"></div>
    </div>
    <div class="clr"></div>
</div>
<div class="clr"></div>
{template footer}