{template header}
<div class="content">
    <div class="uleft">
        <div class="tximg"><img width="100px" height="100px" src="{$user['avatar']}" alt="{$user['username']}" title="{$user['username']}"></div>
        <div class="txname">
            {$user['username']}
            <!--{if $user['islogin']}-->
            <img src="css/default/online.gif" align="absmiddle" title="当前在线" alt="当前在线"/>
            <!--{else}-->
            <img src="css/default/outline.gif" align="absmiddle" title="当前离线" alt="当前离线"/>
            <!--{/if}-->
        </div>
        <div class="clr"></div>
        <div class="list">
            <h1 class="on"><a title="我的主页" target="_top" href="{url user/score}"><img width="16" height="16" align="absmiddle" src="css/default/myhome.gif" /> &nbsp;我的主页</a></h1>
            <h1><a title="我的问答" target="_top" href="{url user/ask/2}"><img width="16px" height="15px" align="absmiddle" src="css/default/myanswer.gif" /> &nbsp;我的问答</a></h1>            
            <h1 class=""><a title="我的消息" target="_top" href="{url message/new}"><img width="16px" height="16px" align="absmiddle" src="css/default/mymsg.gif" /> &nbsp;我的消息</a></h1>
            <h1 class=""><a title="我收藏的问题" target="_top" href="{url user/favorite}"><img width="14" height="15" align="absmiddle" src="css/default/mycollect.gif" /> &nbsp;我的收藏</a></h1>
        </div>
    </div>
    <div class="uright">
        <div class="tab2" id="tab">
            <ul>
                <li>
                    <a href="{url user/profile}">个人资料</a>
                </li>
                <li  class="on">
                    <a href="{url user/uppass}">修改密码</a>
                </li>
                <li>
                    <a href="{url user/editimg}">修改头像</a>
                </li>
            </ul>
            <div class="clr"></div>
        </div>
        <div class="grxx">
            <form  action="{url user/uppass}" method="post">
                <div class="listx">
                    <h3>当前密码</h3>
                    <div class="jutix"><input type="password" class="input3" value="" id="oldpwd" name="oldpwd" /></div>
                </div>
                <div class="clr"></div>
                <div class="listx">
                    <h3>新密码</h3>
                    <div class="jutix"><input type="password" class="input3" value="" id="newpwd"  name="newpwd" /></div>
                </div>
                <div class="clr"></div>
                <div class="listx">
                    <h3>确认密码</h3>
                    <div class="jutix"><input type="password" class="input3" value="" id="confirmpwd"  name="confirmpwd"/></div>
                </div>

                <div class="clr"></div>
                <div class="shur2"><input type="submit" class="button4" value="提&nbsp;交" name="submit" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="clr"></div>
{template footer}
